body{
	
}

.no-padding{
	padding: 0 !important;
}

.file-field input[type=file] {
    width: 74%;
    display: inline-block !important;
    margin-left: 25px;
}

.margin-content{
	margin-bottom: 200px;
}

.bg-grey-2 {
    background: #dadada;
}

.bg-grey {
    background: #f4f5f7;
}

.login-box {
    padding: 40px 20px;
    margin-top: 20px;
}

/*Landing page*/
@font-face {
    font-family: BlueHighway;
    src: url(../../assets/fonts/blue-highway-rg.ttf);
}

.landing-page {
	background-image: url(../../assets/img/bg-maratex.png);
	background-size: 90%;
	background-repeat: no-repeat;
	/*background: linear-gradient(#f9f9f9, rgba(33, 150, 243, 0.83));*/
}

.img-responsive {
	margin:0 auto;
	width: 900px;
}
.no-padding {
	padding: 0px !important;
}
.width-100 {
	width: 100%;
}
.gallery .list{
	height: 120px; 
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: 50% !important; 
	border: 1px dashed #fff;
	opacity: 0.75;
}
.caption{
	background-color: rgba(117, 114, 114, 0.76);
	padding: 10px 15px;
	margin-bottom: 25px;
	color: #fff;
}
.footer .navbar-nav {
  text-align: center;
  float:none;
}
.footer .navbar-nav li {
  display:inline-block;
  float:none;
}

/*end landing page*/

.team-member-wrap div{
	padding-left: 0;
}

.padding-left-20{
	padding-left: 20px;
}

.padding-left-40{
	padding-left: 40px;
}
.footer{
	margin-top: 40px;
}

.foot-menu .navbar {
    margin: 0;
    background: transparent;
    min-height: 20px;
    border: none;
}

.foot-menu .navbar .navbar-header {
    margin: 0;
    background: #cccccc;
    min-height: 20px;
}

#navbar-footer {
    text-align: center;
}

.foot-menu .nav.navbar-nav {
    display: inline-block;
    float: none;
    /*border-bottom: 25px solid transparent;
    border-image: linear-gradient(to bottom, rgba(241,91,40,1) 0%, rgba(241,91,40,1) 75%, rgba(255,175,75,1) 100%);
    border-image-slice: 1;
    border-radius: 15px 0;
    padding: 0 10px;*/
}

.foot-menu .border {
	border-radius: 5px 5px 0 0; 
	margin: 0 -20px;
	height: 30px;
    background: linear-gradient(to top, rgba(241,91,40,1) 0%, rgba(241,91,40,1) 75%, rgba(255,175,75,1) 100%) !important;
}

.foot-menu .border-silver {
	margin: 0 -20px;
	height: 80px;
    background: linear-gradient(to bottom, #fdfcfc 0%, #fdfcfc 24%, #e3e5e6 100%) !important;
}

.foot-menu ul>li {
	font-family: BlueHighway;
	font-size: 9pt;
    width: 150px;
    text-align: left;
    height: 45px;
}

.nav li.active a, .menu .dropdown-menu>li>a:hover, .menu .dropdown-menu>li>a:focus {
    background-color: #3a414e !important;
}

.foot-menu nav li a, .foot-menu nav li a:hover, .foot-menu nav li a:focus {
    height: 100%;
    padding: 15px 10px 10px;
    background: linear-gradient(to bottom, rgba(25,25,26,1) 0%, rgba(25,25,26,1) 75%, rgba(66,66,66,1) 100%) !important;
    -moz-border-radius: 0px;
    /*-webkit-border-radius: 30px 30px 30px 30px;*/
    border-radius: 25px 25px 0px 0px;
}

.foot-menu nav li.active a {
    background: linear-gradient(to bottom, rgba(241,91,40,1) 0%, rgba(241,91,40,1) 75%, rgba(255,175,75,1) 100%) !important;
}

.nav li a {
    color: #FFFFFF !important;
}

.foot-content{
	margin-top: 10px;
	color: #b3b7ba;
	font-size: 9pt;
}

/*end landing page*/

.menu{
    background-color: #454e5d;
}

.nav li.active a, .menu .dropdown-menu>li>a:hover, .menu .dropdown-menu>li>a:focus{
    background-color: #3a414e !important;
}

.nav li a{
    color: #FFFFFF !important;
}

.table-dark th{
    background-color: #888d97 !important;
    color: #FFFFFF !important;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
    background-color: #566c96; 
    border-color: #566c96;
}

.panel-transparent{
    background-color: transparent;
    border: 0px;
}

.text-blue{
    color: #74b5ca;
}

.text-green{
    color: #66af73;
}

.margin-btm-10{
    margin-bottom: 10px;
}